# General Python-related cache folders
.mypy_cache
.coverage
__pycache__

# Pycharm project folders
**/.idea

# Virtual environment folder
aspe_package/venv

# Build folder for the documentation
docs/build
docs/_build

# Pycharm project files
.idea/*

# Coverage file
**/.coverage