## pyhon 3.7 required

# core libs
numpy
pandas==1.3.5
xlrd
xlwt
xlsxwriter
pyyaml
cantools
scipy
dataclasses
future
tqdm
shapely
h5py
bagpy
# commented due to aptiv network limitation, request unblock it already applied
# --extra-index-url https://rospypi.github.io/simple/
# roslz4

# visualization
PyQt5
pyqtgraph==0.12.1
matplotlib
seaborn
imageio
Pillow

# reporting
jinja2
pdfkit
xhtml2pdf

# maintenance
ruff

# testing
pytest
pytest-cov
