<p class="break-before">
    <h2>Binary classification results</h2>
    <h3>Aggregated data</h3>
<div class="container">
    {% for plot in agg_results_plots %}
        <img src="{{ plot }}">
    {% endfor %}
        {{ agg_kpi_table }}
    </div>
    </p>
    <p class="break-before">
    <h4> Confusion matrices </h4>
    <div class="container">
    <img src="{{ agg_bin_results_bar_plot }}">
    {% for title, table in conf_matrices.items() %}
        <h5>{{title}}</h5>
        {{table}}
    {% endfor %}
    </div>
    </p>
</div>
<p class="break-before">
<h3>Per log data</h3>
<div class="container">
    {% for plot in per_log_plots %}
        <img src="{{ plot }}">
    {% endfor %}
</div>
    <p class="break-before">
    {% for title, soft in best_worst_cases_tabs.items() %}
            <h4> SW version: {{title}}</h4>
            {% for title, table in soft.items() %}
                <h5>{{title}}</h5>
                {{ table }}
            {% endfor %}
        {% endfor %}
    </p>

</p>
</p>