<p class="break-before">
    <h2> Reference data</h2>
<div class="container">
    <img src="{{ rel_count_bar_plot_path }}">
</div>
    <h3>Reference velocity data</h3>
<div class="container">
    {% for plot in velocity_plots %}
        <img src="{{ plot }}">
    {% endfor %}
</div>
</p>
<p class="break-before">
    <h3>Reference orientation data</h3>
<div class="container">
    {% for plot in heading_plots %}
        <img src="{{ plot }}">
    {% endfor %}
</div>
</p>
    <h3>Reference yaw rate</h3>
<div class="container">
    {% for plot in yaw_rate_plots %}
        <img src="{{ plot }}">
    {% endfor %}
</div>
</p>