<body>
<img src=" {{ logo }} ">
<div class="container">
        <h2>{{ title }}</h2>
    <h6>{{ subtitle }}</h6>
</div>
    {{ test_setup_builder }}

    <p class="break-before">
    {{ binary_builder }}
    </p>

    <p class="break-before">
    {{ deviation_builder }}
    </p>

    <p class="break-before">
    {{ nees_builder }}
    </p>

    <p class="break-before">
    <h4>Evaluated logs paths: </h4>
    {% for sw_version, log_paths_tab in logs_paths.items() %}
        {{ sw_version }}
        {{log_paths_tab }}
    {% endfor %}
    </p>
</body>