<div class="break-before"></div>

<h2>{{ section_name }}</h2>

<h3>Aggregated data</h3>

<table class="fixed">
    <tr>
        <td><img src="{{ agg_mean_bar_plot_path }}"></td>
        <td><img src="{{ agg_p_value_bar_plot_path }}"></td>
    </tr>
</table>

{{ agg_kpis_table }}

<div class="break-before"></div>

<img src="{{ p_value_pdf_plot_path }}">
<img src="{{ p_value_cdf_plot_path }}">

{{ quantile_table }}

<div class="break-before"></div>

<h3>Per log results</h3>

<table class="fixed">
    <tr>
        <td><img src="{{ mean_per_log_boxplot_path }}"></td>
        <td><img src="{{ p_value_per_log_boxplot_path }}"></td>
    </tr>
</table>

{% for soft_title, soft in best_worst_cases_tables.items() %}
    <div class="break-before"></div>

    <h4>SW version: {{ soft_title }}</h4>
    {% for title, table in soft.items() %}
        <h5>{{ title }}</h5>
        {{ table }}
    {% endfor %}
{% endfor %}
