<p class="break-before">
<h2>{{section_name}}</h2>
    <h3>Aggregated data</h3>
    <img src="{{ agg_kpi_bar_plot }}">
        <div class="container">
            {{agg_kpis_table}}
        </div>
        <p class="break-before">
        <div class="container">
        {% for plot in agg_results_plots %}
        <img src="{{ plot }}">
        {% endfor %}
        </div>
        </p>
    <div class="container">
    {{ quantile_table }}

        <p class="break-before">
        <h3>Per log results</h3>
        {% for plot in per_log_plots %}
        <img src="{{ plot }}">
        {% endfor %}
</p>
    </div>
        {% for soft_title, soft in best_worst_cases_tabs.items() %}
        <p class="break-before">
            <h4> SW version: {{soft_title}}</h4>
            {% for title, table in soft.items() %}
<!--                {% if title == 'Outliers' %}-->
<!--                    <p class="break-before">-->
<!--                {% endif %}-->
                <h5>{{title}}</h5>
                {{ table }}
            {% endfor %}
        </p>
        {% endfor %}
</p>