<h2>Test Setup</h2>
<div>
<h3> SW versions </h3>
<ul>
    {% for sw_name, description in sw_description.items() %}
        <li> {{ sw_name }} - {{ description }}</li>
    {% endfor %}
</ul>
</div>
<div>
    <h3>Test case description</h3>
    <li> {{ test_case_description }} </li>
</div>
{{ ref_data }}
{{ host_data }}
{{ logs_data }}
<p class="break-before">
    <h3> Trace plots </h3>
    <div class="container">
    {% for plot in trace_plot %}
        <img src="{{ plot }}">
    {% endfor %}
    </div>
</p>

